* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: rgb(85, 33, 33);
}
ul {
  width: 469px;
  height: 33px;
  display: flex;
  gap: 60px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  text-decoration: none;
  list-style: none;
}
.home {
  width: 50px;
  height: 20px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: orange;
}
.homepage {
  display: flex;
  justify-content: space-between;
}
.btn {
  width: 163px;
  height: 40px;
  border-radius: 50px;
  border: 0px;
  background-color: orange;
  color: aliceblue;
}
.left {
  display: flex;
  width: 538px;
  height: 618px;
  justify-content: center;
  flex-direction: column;
}
h1 {
  width: 260px;
  height: 102px;
  margin-left: 150px;
  font-weight:  900px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: #ffffff;
}
.pa {
  color: rgb(135, 134, 133);

  margin-left: auto;
  width: 411px;
  height: 60px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.pa2 {
  font-family: monospace;
  padding-top: 40px;
  margin-left: 130px;
  color: rgb(135, 134, 133);
}
.i {
  width: 272px;
  height: 193px;
  margin-left: 130px;
}
.wow{
  border: 1px solid rgb(255, 166, 1);
  border-radius: 50px;
  margin-left: auto;
  display: flex;
  width: 300px;

  align-items: center;
}
.menuu{
  color:rgb(255, 166, 1);
  margin-left: 10px;
}
.left-right{
  display: flex;
  justify-content: space-between;
}
.g{
  margin-right:50px; 
  margin-top: 40px;
  width: 456px;
  height: 683px;
}
.g2{
  height: 209px;
  display: flex;
  justify-content: end;
  position: absolute;
  right:20px;
  top:20px
}
.g3{
  height: 209px;
  display: flex;
  justify-content: end;
  position: absolute;
  right:390px;
  bottom: 50px;
}
.btns{
    display: flex;
  justify-content: center;
  color: aliceblue;
}
.btnn1{
  width: 163px;
  height: 40px;
  border-radius: 50px;
  border: 0px;
  background-color: orange;
  color: aliceblue;
}
.btnn{
  width: 163px;
  height: 40px;
  border-radius: 50px;
  border: 0px;
  background-color: rgb(79, 31, 31);
  color: aliceblue;
}
.gg{
  padding: 10px 500px;
}
.order{
    background-color: rgb(79, 31, 31);
    width: 236px;
    border-radius: 40px;
    height: 515px;
}
.recepie{
  height: auto;
  color: gray;
}
.pa2{
  margin-left: 100px;
  width: 411px;
  font-weight: 900;
  height: 60px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
    color: aliceblue;
}