*{
    padding: 0px;
    margin: 0px;
}
.homepage{
    display: flex;
    align-items: center;
    background-color:darkblue;
    gap: 400px;
    justify-content: center;
    width: 100%;
    position: sticky;
}
.icon{
    width: 60px;
    height: 40px;
}
.p{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.u{
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 40px;
    color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.ch{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.chh{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.left{
    background: url(image\ copy\ 3.png);
    width: 100%;
    height: 100vh;
    background-repeat:round;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;   
    background-size:contain;
    position: relative;

}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.lefts{
    color: #062fe3;
    font-size: xx-large;
    position: relative;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.leftss{
    color: #062fe3;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.leftg{
    background: url(image\ copy.png);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-size: contain;
}
.leftgg{
    background: url(image.png);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-size: contain;
}
