* {
  margin: 0px;
  padding: 0px;
}
.navbar {
  width: 1228px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: small;
}
ul {
  display: flex;
  list-style: none;
  gap: 40px;
}
.section1 {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.5px solid gray;
}
.paper {
  font-size: x-large;
}
.recepies {
  width: 156px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: sans-serif;
  border-radius: 40px;
  background-color: white;
  margin-top: 40px;
}
.section2 {
  width: 1280px;
  height: 640px;
  position: relative;
  display: flex;
  background-color: #e7fafe;
  margin-top: 50px;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-weight: 600;
  font-size: xxx-large;
}
.left {
  height: 100%;
  font-family: sans-serif;
  position: absolute;
  left: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hf {
  font-size: smaller;
  color: grey;
  font-weight: 100;
  line-height: 20px;
}
.middle {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.minute {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 139px;
  height: 40px;
  background-color: rgb(212, 210, 210);
  border-radius: 30px;
}
.minutes {
  display: flex;
  margin-top: 50px;
  gap: 20px;
}
.view {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 60px;
  background: #000000;
  border-radius: 16px;
  font-family: sans-serif;
  color: #fff;
  font-size: medium;
}
.person{
    display: flex;
    align-items: center;
    gap: 10px;
}
.last{
    display: flex;
    gap: 180px;
    margin-top: auto;
    margin-bottom: 40px;
}
.name{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.march{
    font-weight: 20;
    font-size: small;
    color: #9a9b9b;
}
.right{
    left: 630px;
    position: absolute;
}
.muhaha{
    position: absolute;
    top: 170px;
}
.muhha{
    position: absolute;
    top: 170px;
    right: 0px;
    rotate: 180deg;
}
.section3{
    font-family:sans-serif;
    font-weight:300px ;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

}
.bottom{
    display: flex;
    justify-content: center;
}
.top{
    display: flex;
    gap: 900px;
    justify-content: center;
}
.all{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7FAFE;
    width: 200px;
    border-radius: 30px;
    height: 60px;
}
.top2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: sans-serif;
}
.section4{
    margin-top: 100px;
}
.p{
    font-size: medium;
    font-weight: 100;
    font-size: small;
    color: #9a9b9b;
}